body{
	background-color:lightgray;
}

.card:hover{
	box-shadow: 0px 0px 20px 10px #6d6d6d;
	transition: box-shadow 0.5s ease-in-out;
	cursor:pointer;
}

/*.card:hover{
	transform:scale(1.1);
	cursor:pointer;
}*/

.animate__zoomIn {
    -webkit-animation-name: zoomIn;
	-webkit-transform-origin: center;
	 transform-origin: center;
	 animation: bounce 1s linear;
    animation-name: zoomIn
}


@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

